body {
  overflow: hidden;
  height: 100vh;
  display: block;
}

header {
  nav.navbar {
    box-shadow: none;

    .nav-link {
      font-size: 21px;
    }
  }
}

// Custom styles
main {
  height: 100vh;
}


@media (max-width: 575px) {
  #wrapper {
    background: url('../img/background/cs.jpg');
    background-size: cover;
    background-position: center center;
  }
  .col-xs-12 {
    .logo.xs {
      height: 158px !important;
      background-size: contain !important;
      background-position: center center !important;
      margin-top: -38px !important;
      margin-bottom: 0 !important;
      margin-right: 0 !important;

    }
  }
  
  .loading {
    margin: 70px 0 20px;
    .bar {
      position: relative;
      margin: 0 auto;
      right: inherit;
      bottom: inherit;
      width: 300px;
    }
    .lds-ripple {
      right: 326px;
    }
  }
  .col-xs-12 {
    .coming-soon-advice.xs {
      display: none;
      text-align: center;
      margin-top: 75px !important;
      left: inherit !important;
      margin-right: 0 !important;

      span {
        margin: 85px 0 0;
      }
    }
    .advice {
      font-size: 1.3rem;
      color: #854cc5;
      text-align: center;
      
      span {
        display: block;
      }
    }
  }
  

  .slogan.xs {
    margin: -67px auto 0 !important;
    text-align: center;

    h1 {
      width: 100%;

      span {
        font-size: 1.6rem;
      }
    }
  }
 }

 @media (max-width: 767px) { 
  #wrapper {
    background: url('../img/background/cs.jpg');
    background-size: cover;
    background-position: center center;
  }
  .logo {
    height: 260px;
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
  }
  .loading {
    margin: 70px 0 20px;
    .bar {
      position: relative;
      margin: 0 auto;
      right: inherit;
      bottom: inherit;
      width: 300px;
    }
    .lds-ripple {
      right: 326px;
    }
  }

  .coming-soon-advice {
    text-align: center;
    margin: 0 auto;
  }

  .slogan {
    margin: -145px auto 0;
    text-align: center;

    h1 {
      width: 100%;
    }
  }
 }

 @media (max-width: 991px) { 
  #wrapper {
    background: url('../img/background/cs.jpg') !important;
    background-size: cover !important;
    background-position: center center !important;
  }
  .col-md-12 {
    .logo {
      height: 260px !important;
      background-size: contain !important;
      background-position: center center !important;
      margin-top: -80px !important;
      margin-bottom: 0 !important;
      margin-right: 0 !important;
    }
  }
  
  .loading {
    display: none;
    margin: 35px 0 20px;
    bottom: 0 !important;
    .bar {
      position: relative !important;
      margin: 0 auto;
      right: inherit !important;
      bottom: inherit !important;
      width: 300px !important;
    }
    .lds-ripple {
      right: 528px !important;
      bottom: 3px !important;
    }
  }

  .col-md-12 {
    .coming-soon-advice.md {
      text-align: center !important;
      margin-top: 145px !important;
      left: inherit;
    }
  }

  .slogan {
    margin: -145px auto 0 !important;
    text-align: center;

    h1 {
      width: 100%;
    }
  }
}

@media (max-width: 1199px) { 
  #wrapper {
    // background: url('../img/background/cs.jpg');
    background-size: cover;
    background-position: center center;
  }
  .logo {
    height: 140px;
    background-size: contain;
    margin-top: 140px !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    text-align: right;
  }
  .loading {
    bottom: -35px;
    right: -10px !important;
    .bar {
      right: -40px;
    }
    .lds-ripple {
      right: 125px !important;
    }
  }
  .coming-soon-advice {
    position: relative;
    left: 25px !important;
    margin-top: 55px !important;
    margin-right: 22px !important;

    span {
      display: block;
      width: 100%;
    }
  }
  .slogan {
    margin-top: 40px;
    margin-left: 0 !important;
  }
}

#wrapper {
  width: 100%;
  height: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  transform: perspective(500px);
  box-shadow: 0 20px 70px -10px rgba(black, .7), 0 50px 100px 0 rgba(black, .2);
  width: 100%;
  height: 100%;
  display: flex;
  background: url('../img/background/coming-soon-psd-1920x1080.png') #000;
  background-position: center center;
  background-size: cover;
}

.logo {
  display: flex;
  background-image: url('../img/background/logo-kanamobi-colorido_fundo-preto.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  height: 176px;
  margin-right: -103px;
  margin-top: 161px;
  margin-bottom: 30px;
}

.loading {
  position: relative;
  text-align: right;
  height: 8px;
  right: -63px;

  .bar {
    position: absolute;
    right: inherit;
    bottom: 0;
    height: 2px;
    width: 220px;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 10px;
    
    &:after {
      content: '';
      width: 80px;
      height: 2px;
      display: block;
      background-color: rgba(255,255,255, 0.7);
      border-radius: 10px;
    }
  }
  .lds-ripple {
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    right: 70px;
    bottom: -3px;
  }

  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.75);
    opacity: 1;
    border-radius: 50%;
  }
}

.slogan {
  display: flex;
  margin-top: 35px;
  margin-left: 117px;
  span {
    display: block;
    color: #ba69ef;
    font-size: 30px;
    &:last-child {
      color: #ffffff;
      font-family: "Raleway Semibold";
    }
  }
}

.coming-soon-advice {
  display: block;
  text-align: right;
  margin-top: 25px;
  margin-right: 0;
  font-size: 1.3rem;
  color: #854cc5;
  position: relative;
  left: 107px;
}
